# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/terraform.tfvars
terraform/**/.terraform.lock.hcl

# Secrets (edit *.dec.yaml, run 'make encrypt', commit *.yaml)
**/*.dec.yaml
.env
